In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [38]:
import pandas as pd
import os

# Using a relative path starting from your current folder
# This is much safer than the long iCloud path
data_path = 'yearmonthdata/yearly_full_release_long_format.csv'

if os.path.exists(data_path):
    print("‚úÖ Data file located successfully.")
    df = pd.read_csv(data_path)
    print(f"‚úÖ Dataset loaded: {df.shape[0]} rows and {df.shape[1]} columns.")
else:
    # Let's see what's actually in your current working directory to be sure
    print(f"‚ùå Still can't find it. Current Directory contains: {os.listdir('.')}")
    
    # 2. Set Plotting Style for EDA
sns.set_theme(style="whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)

‚úÖ Data file located successfully.
‚úÖ Dataset loaded: 357052 rows and 18 columns.

In [39]:
import pandas as pd
import os

# 1. Use the local folder name found in your terminal (Energy-Dashboard-DS3/yearmonthdata)
base_path = 'yearmonthdata'

# 2. Map the nicknames to your filenames
files = {
    'yearly_global': 'yearly_full_release_long_format.csv',
    'monthly_global': 'monthly_full_release_long_format.csv',
    'yearly_europe': 'europe_yearly_full_release_long_format.csv',
    'monthly_europe': 'europe_monthly_full_release_long_format.csv'
}

# 3. Load them into the dictionary
data = {}
print("--- Data Loading Status ---")
for nickname, filename in files.items():
    # This joins 'yearmonthdata' with the filename automatically
    full_path = os.path.join(base_path, filename)
    
    if os.path.exists(full_path):
        data[nickname] = pd.read_csv(full_path)
        print(f"‚úÖ Loaded {nickname:15} | Shape: {data[nickname].shape}")
    else:
        # Debugging: show exactly where it looked
        print(f"‚ùå Could not find {filename} at: {os.path.abspath(full_path)}")

# 4. Success check: assign to individual DataFrames for your EDA
if 'yearly_global' in data:
    df_global_yearly = data['yearly_global']
    print("\nüöÄ Ready for EDA: Access global data using 'df_global_yearly'")

--- Data Loading Status ---
‚úÖ Loaded yearly_global   | Shape: (357052, 18)
‚úÖ Loaded monthly_global  | Shape: (505207, 18)
‚úÖ Loaded yearly_europe   | Shape: (71414, 18)
‚úÖ Loaded monthly_europe  | Shape: (221895, 18)

üöÄ Ready for EDA: Access global data using 'df_global_yearly'

In [40]:
import pandas as pd
import os

base_path = base_path = 'yearmonthdata'

# Container 1: Global Data
df_global_yearly = pd.read_csv(os.path.join(base_path, 'yearly_full_release_long_format.csv'))
df_global_monthly = pd.read_csv(os.path.join(base_path, 'monthly_full_release_long_format.csv'))

# Container 2: Europe Data
df_europe_yearly = pd.read_csv(os.path.join(base_path, 'europe_yearly_full_release_long_format.csv'))
df_europe_monthly = pd.read_csv(os.path.join(base_path, 'europe_monthly_full_release_long_format.csv'))

print(f"‚úÖ Global DataFrames ready. Yearly: {df_global_yearly.shape}, Monthly: {df_global_monthly.shape}")
print(f"‚úÖ Europe DataFrames ready. Yearly: {df_europe_yearly.shape}, Monthly: {df_europe_monthly.shape}")

‚úÖ Global DataFrames ready. Yearly: (357052, 18), Monthly: (505207, 18)
‚úÖ Europe DataFrames ready. Yearly: (71414, 18), Monthly: (221895, 18)

In [41]:
df_global_yearly

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,0.19,NaN,NaN
1,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,0.03,NaN,NaN
2,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,0.03,NaN,NaN
3,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,0.19,NaN,NaN
4,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,0.19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357047,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Other Fossil,mtCO2,0.00,0.00,NaN
357048,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Other Renewables,mtCO2,0.00,0.00,NaN
357049,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Solar,mtCO2,0.00,0.00,NaN
357050,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Wind,mtCO2,0.00,0.00,NaN
357051,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Total,Total emissions,mtCO2,2.48,-0.18,-6.77

In [42]:
df_europe_yearly

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,48.81,NaN,NaN
1,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity demand,Demand per capita,Demand per capita,MWh,6.36,NaN,NaN
2,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Clean,%,66.25,NaN,NaN
3,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Coal,%,12.56,NaN,NaN
4,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Fossil,%,33.75,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71409,United Kingdom,GBR,2024,Country or economy,Europe,Europe,0.0,1.0,1.0,1.0,0.0,Power sector emissions,Fuel,Nuclear,MtCO2e,0.20,0.00,0.00
71410,United Kingdom,GBR,2024,Country or economy,Europe,Europe,0.0,1.0,1.0,1.0,0.0,Power sector emissions,Fuel,Offshore wind,MtCO2e,0.64,-0.01,-1.54
71411,United Kingdom,GBR,2024,Country or economy,Europe,Europe,0.0,1.0,1.0,1.0,0.0,Power sector emissions,Fuel,Onshore wind,MtCO2e,0.43,0.03,7.50
71412,United Kingdom,GBR,2024,Country or economy,Europe,Europe,0.0,1.0,1.0,1.0,0.0,Power sector emissions,Fuel,Other fossil,MtCO2e,7.53,0.41,5.76
71413,United Kingdom,GBR,2024,Country or economy,Europe,Europe,0.0,1.0,1.0,1.0,0.0,Power sector emissions,Fuel,Solar,MtCO2e,0.70,0.04,6.06

In [43]:
# Check the actual column names for both DataFrames
print("Global Yearly Columns:", df_global_yearly.columns.tolist())
print("Europe Yearly Columns:", df_europe_yearly.columns.tolist())

Global Yearly Columns: ['Area', 'ISO 3 code', 'Year', 'Area type', 'Continent', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'ASEAN', 'Category', 'Subcategory', 'Variable', 'Unit', 'Value', 'YoY absolute change', 'YoY % change']
Europe Yearly Columns: ['Area', 'ISO 3 code', 'Year', 'Area type', 'Continent', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'ASEAN', 'Category', 'Subcategory', 'Variable', 'Unit', 'Value', 'YoY absolute change', 'YoY % change']

In [44]:
# List unique variables in the 'Variable' column
# We use .unique() to see the exact strings (e.g., 'Demand' vs 'Electricity Demand')
print("Unique Variables in Global Yearly:")
print(df_global_yearly['Variable'].unique())

Unique Variables in Global Yearly:
['Clean' 'Fossil' 'Gas and Other Fossil'
 'Hydro, Bioenergy and Other Renewables' 'Renewables' 'Wind and Solar'
 'Bioenergy' 'Coal' 'Gas' 'Hydro' 'Nuclear' 'Other Fossil'
 'Other Renewables' 'Solar' 'Wind' 'Demand' 'Demand per capita'
 'Total Generation' 'Net Imports' 'CO2 intensity' 'Total emissions']

In [45]:
# 1. Define the variables we need for the Energy Security task
security_vars = ['Demand', 'Total Generation']

# 2. Filter the Global and Europe DataFrames
# This makes the data much smaller and faster to work with
df_global_security = df_global_yearly[df_global_yearly['Variable'].isin(security_vars)]
df_europe_security = df_europe_yearly[df_europe_yearly['Variable'].isin(security_vars)]

# 3. Quick check to see the first few rows
print(f"Global Security Data Rows: {len(df_global_security)}")
display(df_global_security.head())

Global Security Data Rows: 11000

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
15,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,0.57,NaN,NaN
47,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Total,Total Generation,TWh,0.48,NaN,NaN
81,Afghanistan,AFG,2001,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,0.78,0.21,36.84
113,Afghanistan,AFG,2001,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Total,Total Generation,TWh,0.69,0.21,43.75
147,Afghanistan,AFG,2002,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,0.81,0.03,3.85

In [46]:
# Create the pivoted 'Wide' DataFrame
df_pivot = df_global_security.pivot_table(
    index=['Area', 'ISO 3 code', 'Year', 'Continent'], 
    columns='Variable', 
    values='Value'
).reset_index()

# Rename columns for easier math
df_pivot.columns.name = None  # Remove the hierarchy name
df_pivot = df_pivot.rename(columns={
    'Demand': 'demand_twh',
    'Total Generation': 'generation_twh'
})

# Preview the transformation
df_pivot.head()

          Area ISO 3 code  Year Continent  demand_twh  generation_twh
0  Afghanistan        AFG  2000      Asia        0.57            0.48
1  Afghanistan        AFG  2001      Asia        0.78            0.69
2  Afghanistan        AFG  2002      Asia        0.81            0.71
3  Afghanistan        AFG  2003      Asia        1.01            0.91
4  Afghanistan        AFG  2004      Asia        0.89            0.79

In [47]:
# 1. Calculate Energy Security Percentage
# (Generation / Demand) * 100
df_pivot['energy_security_pct'] = (df_pivot['generation_twh'] / df_pivot['demand_twh']) * 100

# 2. Basic Cleaning: Remove rows with NaN (where one of the two values was missing)
df_pivot = df_pivot.dropna(subset=['energy_security_pct'])

# 3. Quick EDA: Look at the most "secure" countries in the most recent year
latest_year = df_pivot['Year'].max()
print(f"--- Top 5 Energy Secure Countries in {latest_year} ---")
display(df_pivot[df_pivot['Year'] == latest_year].sort_values('energy_security_pct', ascending=False).head())

--- Top 5 Energy Secure Countries in 2024 ---

,Area,ISO 3 code,Year,Continent,demand_twh,generation_twh,energy_security_pct
4947,Uruguay,URY,2024,South America,12.17,17.27,141.906327
4463,Sweden,SWE,2024,Europe,138.55,171.99,124.135691
4488,Switzerland,CHE,2024,Europe,62.28,75.76,121.644188
1628,France,FRA,2024,Europe,470.26,560.11,119.106452
4232,Slovenia,SVN,2024,Europe,14.30,16.71,116.853147

In [48]:
df_global_security['Area'].nunique()

228

In [49]:
df_global_yearly['Area'].nunique()

228

In [50]:
import pandas as pd

path = 'targets_download/capacity_target_wide-Table 1.csv'

target_2030 = pd.read_csv(path)
target_2030

,country_code,country_name,ember_region,target_year,unit,res_capacity_target,res_share_target,Hydro,Rest of renewables,Solar,Wind,Offshore Wind,Onshore Wind,Bioenergy,Other Renewables,"Hydro, bio and other renewables",Renewables
0,ALB,Albania,Europe,2030,Capacity (GW),3.30000,100.00,2.51000,NaN,0.49000,0.30000,NaN,NaN,NaN,NaN,NaN,NaN
1,ARE,United Arab Emirates,Middle East,2030,Capacity (GW),9.20000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.2
2,ARG,Argentina,Latin America and Caribbean,2030,Capacity (GW),32.47200,47.39,13.21500,19.257,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AUS,Australia,Oceania,2030,Capacity (GW),110.40000,85.10,6.80000,NaN,62.70000,39.90000,1.000,NaN,NaN,NaN,NaN,NaN
4,AUT,Austria,Europe,2030,Capacity (GW),35.70000,93.90,14.97000,NaN,12.50000,7.30000,NaN,NaN,0.93000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,USA,United States,North America,2030,Capacity (GW),740.90000,30.00,103.40000,NaN,428.30000,NaN,6.200,187.800,10.20000,5.0,NaN,NaN
82,UZB,Uzbekistan,Asia,2030,Capacity (GW),11.80000,26.60,3.80000,NaN,5.00000,3.00000,NaN,NaN,NaN,NaN,NaN,NaN
83,VNM,Viet Nam,Asia,2030,Capacity (GW),168.02500,47.00,34.66700,NaN,73.41600,NaN,17.032,38.029,4.88100,NaN,NaN,NaN
84,XKX,Kosovo,Europe,2030,Capacity (GW),1.45179,43.00,0.10188,NaN,0.63675,0.68769,NaN,NaN,0.02547,NaN,NaN,NaN
85,ZAF,South Africa,Africa,2030,Capacity (GW),30.63000,32.50,4.60000,NaN,8.28800,17.74200,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:

# Rename for consistency with your existing df_pivot
target_2030 = target_2030.rename(columns={
    'country_code': 'ISO 3 code',
    'country_name': 'Area'
})

# Filter for only the columns needed for the dashboard
# Adding 'Renewables' as the primary target metric
target_cols = ['ISO 3 code', 'Area', 'target_year', 'unit', 'Renewables']
df_targets_clean = target_2030[target_cols].copy()

In [52]:
# 1. Get current Renewable Capacity (GW) from the main yearly dataset
# Assuming 'Capacity' is a Category or Subcategory in your Ember file
df_current_res = df_global_yearly[
    (df_global_yearly['Year'] == 2024) & 
    (df_global_yearly['Variable'] == 'Renewables') &
    (df_global_yearly['Unit'] == 'GW')
].copy()

# Rename for clear merging
df_current_res = df_current_res[['ISO 3 code', 'Value']].rename(columns={'Value': 'current_capacity_gw'})

In [53]:
# 1. Filter for the two variables needed for the Energy Security task
security_vars = ['Demand', 'Total Generation']
df_filtered = df_global_yearly[df_global_yearly['Variable'].isin(security_vars)]

# 2. Pivot the data to get Demand and Generation in side-by-side columns
df_pivot = df_filtered.pivot_table(
    index=['Area', 'ISO 3 code', 'Year', 'Continent'], 
    columns='Variable', 
    values='Value'
).reset_index()

# 3. Clean column names and calculate the Energy Security %
df_pivot.columns.name = None
df_pivot = df_pivot.rename(columns={
    'Demand': 'demand_twh',
    'Total Generation': 'generation_twh'
})

# Energy Security formula: (Generation / Demand) * 100
df_pivot['energy_security_pct'] = (df_pivot['generation_twh'] / df_pivot['demand_twh']) * 100

In [54]:
#merge with 2030 Targets:

In [33]:
# 1. Inspect actual columns to find the correct 'country_code' equivalent
print("Current Target Columns:", target_2030.columns.tolist())

# 2. Rename specifically for the merge. 
# Based on your previous preview, use the exact names found in your file:
target_2030 = target_2030.rename(columns={
    'country_code': 'ISO 3 code', # Use the exact key from your df_pivot
    'country_name': 'Area',
    'Renewables': 'target_2030_gw'
})

Current Target Columns: ['ISO 3 code', 'Area', 'ember_region', 'target_year', 'unit', 'res_capacity_target', 'res_share_target', 'Hydro', 'Rest of renewables', 'Solar', 'Wind', 'Offshore Wind', 'Onshore Wind', 'Bioenergy', 'Other Renewables', 'Hydro, bio and other renewables', 'Renewables']

In [56]:
# 1. Strip whitespace from all column names to remove hidden spaces
target_2030.columns = target_2030.columns.str.strip()

# 2. Select the cleaned columns
# Now 'Renewables' will be recognized correctly
df_targets_subset = target_2030[['ISO 3 code', 'Renewables']].copy()

# 3. Rename for your dashboard's "Source of Truth"
df_targets_subset = df_targets_subset.rename(columns={'Renewables': 'target_2030_gw'})

# 4. Merge onto your calculated security dataframe
# This links your 2000-2024 performance with 2030 goals
df_final = pd.merge(df_pivot, df_targets_subset, on='ISO 3 code', how='left')

# 5. Final cleaning for the dashboard
df_final = df_final.replace([np.inf, -np.inf], np.nan).dropna(subset=['energy_security_pct'])

print("‚úÖ Data successfully integrated into df_final!")
display(df_final.head())

‚úÖ Data successfully integrated into df_final!

,Area,ISO 3 code,Year,Continent,demand_twh,generation_twh,energy_security_pct,target_2030_gw
0,Afghanistan,AFG,2000,Asia,0.57,0.48,84.210526,NaN
1,Afghanistan,AFG,2001,Asia,0.78,0.69,88.461538,NaN
2,Afghanistan,AFG,2002,Asia,0.81,0.71,87.654321,NaN
3,Afghanistan,AFG,2003,Asia,1.01,0.91,90.099010,NaN
4,Afghanistan,AFG,2004,Asia,0.89,0.79,88.764045,NaN

In [58]:
# Use .notna() to filter for non-null values
df_with_targets = df_final[df_final['target_2030_gw'].notna()].copy()

# Sort by target size to see the biggest players
df_with_targets = df_with_targets.sort_values('target_2030_gw', ascending=False)

# Display the latest year available for these countries
latest_year = df_with_targets['Year'].max()
print(f"--- Countries with 2030 Targets (Data for {latest_year}) ---")
display(df_with_targets[df_with_targets['Year'] == latest_year].head(10))

--- Countries with 2030 Targets (Data for 2024) ---

,Area,ISO 3 code,Year,Continent,demand_twh,generation_twh,energy_security_pct,target_2030_gw
4872,United Arab Emirates,ARE,2024,Asia,177.26,177.26,100.0,9.2