In [1]:
import pandas as pd
print("Pandas is ready!")

Pandas is ready!

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

# Absolute path including your user directory and iCloud Drive
data_path = '/Users/joshua/Library/Mobile Documents/com~apple~CloudDocs/Desktop/UCSD/DS3/EnergyDS/data/yearly_full_release_long_format.csv'

if os.path.exists(data_path):
    print("✅ Data file located successfully.")
    df = pd.read_csv(data_path)
    print(f"✅ Dataset loaded: {df.shape[0]} rows and {df.shape[1]} columns.")
else:
    print("❌ Data file not found. Check if the CSV is inside the 'data' folder.")

# 2. Set Plotting Style for EDA
sns.set_theme(style="whitegrid")
plt.rcParams['figure.figsize'] = (10, 6)

✅ Data file located successfully.
✅ Dataset loaded: 357052 rows and 18 columns.

In [7]:
# Use the folder path from your successful check
base_path = '/Users/joshua/Library/Mobile Documents/com~apple~CloudDocs/Desktop/UCSD/DS3/EnergyDS/data/'

# Define the file names exactly as they appear in your Finder
files = {
    'yearly_global': 'yearly_full_release_long_format.csv',
    'monthly_global': 'monthly_full_release_long_format.csv',
    'yearly_europe': 'europe_yearly_full_release_long_format.csv',
    'monthly_europe': 'europe_monthly_full_release_long_format.csv'
}

# Load them all into a dictionary
data = {}
for nickname, filename in files.items():
    full_path = os.path.join(base_path, filename)
    if os.path.exists(full_path):
        data[nickname] = pd.read_csv(full_path)
        print(f"✅ Loaded {nickname}: {data[nickname].shape}")
    else:
        print(f"❌ Could not find {filename}")

# Example: Access the global yearly data using the nickname
# df_yearly = data['yearly_global']

✅ Loaded yearly_global: (357052, 18)
✅ Loaded monthly_global: (505207, 18)
✅ Loaded yearly_europe: (71414, 18)
✅ Loaded monthly_europe: (221895, 18)

In [10]:
import pandas as pd
import os

base_path = '/Users/joshua/Library/Mobile Documents/com~apple~CloudDocs/Desktop/UCSD/DS3/EnergyDS/data/'

# Container 1: Global Data
df_global_yearly = pd.read_csv(os.path.join(base_path, 'yearly_full_release_long_format.csv'))
df_global_monthly = pd.read_csv(os.path.join(base_path, 'monthly_full_release_long_format.csv'))

# Container 2: Europe Data
df_europe_yearly = pd.read_csv(os.path.join(base_path, 'europe_yearly_full_release_long_format.csv'))
df_europe_monthly = pd.read_csv(os.path.join(base_path, 'europe_monthly_full_release_long_format.csv'))

print(f"✅ Global DataFrames ready. Yearly: {df_global_yearly.shape}, Monthly: {df_global_monthly.shape}")
print(f"✅ Europe DataFrames ready. Yearly: {df_europe_yearly.shape}, Monthly: {df_europe_monthly.shape}")

✅ Global DataFrames ready. Yearly: (357052, 18), Monthly: (505207, 18)
✅ Europe DataFrames ready. Yearly: (71414, 18), Monthly: (221895, 18)

In [13]:
df_global_yearly

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Clean,GW,0.19,NaN,NaN
1,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Fossil,GW,0.03,NaN,NaN
2,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Gas and Other Fossil,GW,0.03,NaN,NaN
3,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,"Hydro, Bioenergy and Other Renewables",GW,0.19,NaN,NaN
4,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Capacity,Aggregate fuel,Renewables,GW,0.19,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
357047,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Other Fossil,mtCO2,0.00,0.00,NaN
357048,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Other Renewables,mtCO2,0.00,0.00,NaN
357049,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Solar,mtCO2,0.00,0.00,NaN
357050,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Fuel,Wind,mtCO2,0.00,0.00,NaN
357051,Zimbabwe,ZWE,2023,Country or economy,Africa,Africa,0.0,0.0,0.0,0.0,0.0,Power sector emissions,Total,Total emissions,mtCO2,2.48,-0.18,-6.77

In [14]:
df_europe_yearly

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
0,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,48.81,NaN,NaN
1,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity demand,Demand per capita,Demand per capita,MWh,6.36,NaN,NaN
2,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Clean,%,66.25,NaN,NaN
3,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Coal,%,12.56,NaN,NaN
4,Austria,AUT,1990,Country or economy,Europe,Europe,1.0,1.0,0.0,0.0,0.0,Electricity generation,Aggregate fuel,Fossil,%,33.75,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71409,United Kingdom,GBR,2024,Country or economy,Europe,Europe,0.0,1.0,1.0,1.0,0.0,Power sector emissions,Fuel,Nuclear,MtCO2e,0.20,0.00,0.00
71410,United Kingdom,GBR,2024,Country or economy,Europe,Europe,0.0,1.0,1.0,1.0,0.0,Power sector emissions,Fuel,Offshore wind,MtCO2e,0.64,-0.01,-1.54
71411,United Kingdom,GBR,2024,Country or economy,Europe,Europe,0.0,1.0,1.0,1.0,0.0,Power sector emissions,Fuel,Onshore wind,MtCO2e,0.43,0.03,7.50
71412,United Kingdom,GBR,2024,Country or economy,Europe,Europe,0.0,1.0,1.0,1.0,0.0,Power sector emissions,Fuel,Other fossil,MtCO2e,7.53,0.41,5.76
71413,United Kingdom,GBR,2024,Country or economy,Europe,Europe,0.0,1.0,1.0,1.0,0.0,Power sector emissions,Fuel,Solar,MtCO2e,0.70,0.04,6.06

In [15]:
# Check the actual column names for both DataFrames
print("Global Yearly Columns:", df_global_yearly.columns.tolist())
print("Europe Yearly Columns:", df_europe_yearly.columns.tolist())

Global Yearly Columns: ['Area', 'ISO 3 code', 'Year', 'Area type', 'Continent', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'ASEAN', 'Category', 'Subcategory', 'Variable', 'Unit', 'Value', 'YoY absolute change', 'YoY % change']
Europe Yearly Columns: ['Area', 'ISO 3 code', 'Year', 'Area type', 'Continent', 'Ember region', 'EU', 'OECD', 'G20', 'G7', 'ASEAN', 'Category', 'Subcategory', 'Variable', 'Unit', 'Value', 'YoY absolute change', 'YoY % change']

In [16]:
# List unique variables in the 'Variable' column
# We use .unique() to see the exact strings (e.g., 'Demand' vs 'Electricity Demand')
print("Unique Variables in Global Yearly:")
print(df_global_yearly['Variable'].unique())

Unique Variables in Global Yearly:
['Clean' 'Fossil' 'Gas and Other Fossil'
 'Hydro, Bioenergy and Other Renewables' 'Renewables' 'Wind and Solar'
 'Bioenergy' 'Coal' 'Gas' 'Hydro' 'Nuclear' 'Other Fossil'
 'Other Renewables' 'Solar' 'Wind' 'Demand' 'Demand per capita'
 'Total Generation' 'Net Imports' 'CO2 intensity' 'Total emissions']

In [17]:
# 1. Define the variables we need for the Energy Security task
security_vars = ['Demand', 'Total Generation']

# 2. Filter the Global and Europe DataFrames
# This makes the data much smaller and faster to work with
df_global_security = df_global_yearly[df_global_yearly['Variable'].isin(security_vars)]
df_europe_security = df_europe_yearly[df_europe_yearly['Variable'].isin(security_vars)]

# 3. Quick check to see the first few rows
print(f"Global Security Data Rows: {len(df_global_security)}")
display(df_global_security.head())

Global Security Data Rows: 11000

,Area,ISO 3 code,Year,Area type,Continent,Ember region,EU,OECD,G20,G7,ASEAN,Category,Subcategory,Variable,Unit,Value,YoY absolute change,YoY % change
15,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,0.57,NaN,NaN
47,Afghanistan,AFG,2000,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Total,Total Generation,TWh,0.48,NaN,NaN
81,Afghanistan,AFG,2001,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,0.78,0.21,36.84
113,Afghanistan,AFG,2001,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity generation,Total,Total Generation,TWh,0.69,0.21,43.75
147,Afghanistan,AFG,2002,Country or economy,Asia,Asia,0.0,0.0,0.0,0.0,0.0,Electricity demand,Demand,Demand,TWh,0.81,0.03,3.85

In [18]:
# Create the pivoted 'Wide' DataFrame
df_pivot = df_global_security.pivot_table(
    index=['Area', 'ISO 3 code', 'Year', 'Continent'], 
    columns='Variable', 
    values='Value'
).reset_index()

# Rename columns for easier math
df_pivot.columns.name = None  # Remove the hierarchy name
df_pivot = df_pivot.rename(columns={
    'Demand': 'demand_twh',
    'Total Generation': 'generation_twh'
})

# Preview the transformation
df_pivot.head()

          Area ISO 3 code  Year Continent  demand_twh  generation_twh
0  Afghanistan        AFG  2000      Asia        0.57            0.48
1  Afghanistan        AFG  2001      Asia        0.78            0.69
2  Afghanistan        AFG  2002      Asia        0.81            0.71
3  Afghanistan        AFG  2003      Asia        1.01            0.91
4  Afghanistan        AFG  2004      Asia        0.89            0.79

In [19]:
# 1. Calculate Energy Security Percentage
# (Generation / Demand) * 100
df_pivot['energy_security_pct'] = (df_pivot['generation_twh'] / df_pivot['demand_twh']) * 100

# 2. Basic Cleaning: Remove rows with NaN (where one of the two values was missing)
df_pivot = df_pivot.dropna(subset=['energy_security_pct'])

# 3. Quick EDA: Look at the most "secure" countries in the most recent year
latest_year = df_pivot['Year'].max()
print(f"--- Top 5 Energy Secure Countries in {latest_year} ---")
display(df_pivot[df_pivot['Year'] == latest_year].sort_values('energy_security_pct', ascending=False).head())

--- Top 5 Energy Secure Countries in 2024 ---

,Area,ISO 3 code,Year,Continent,demand_twh,generation_twh,energy_security_pct
4947,Uruguay,URY,2024,South America,12.17,17.27,141.906327
4463,Sweden,SWE,2024,Europe,138.55,171.99,124.135691
4488,Switzerland,CHE,2024,Europe,62.28,75.76,121.644188
1628,France,FRA,2024,Europe,470.26,560.11,119.106452
4232,Slovenia,SVN,2024,Europe,14.30,16.71,116.853147

In [30]:
df_global_security['Area'].nunique()

228

In [31]:
df_global_yearly['Area'].nunique()

228